/* General */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --debug-border: solid grey 1px;
}

/* APP and repeating settings */
.appContainer {
  height: 100vh;
  width: 100vw;
  padding: 3% 5% 3% 5%;
  display: flex;
  position: absolute;
  z-index: 1;
  background: linear-gradient(
    180deg,
    transparent 0,
    transparent 100px,
    #dbdcd6 0
  );
  background-color: #009889;
  font-family: Helvetica, sans-serif;
}

.userInfo,
.contactInfo,
.searchBar,
.alert,
.chat,
.keyboard {
  padding: 0px 5px 0px 5px;
  background-color: rgba(235, 235, 235, 1);
  font-size: 0.8rem;
}

.userInfo,
.contactInfo {
  min-height: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

i {
  margin: 5px;
  color: grey;
}

/* LEFT SIDE */
.leftSide {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.alert {
  width: 100%;
  background-color: #8fdcfd;
  display: flex;
  align-items: center;
}
.alert > i {
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  color: #8fdcfd;
}
.alert > .alertDescription {
  font-size: 0.6rem;
  color: #17337c;
}
.alert > .alertDescription > a {
  color: grey;
}

.searchBar {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: solid 1px #e3e3e3;
}
.searchBar input {
  width: 100%;
  border: solid 1px #e3e3e3;
  padding: 4px;
  border-radius: 5px;
}

.availableChats {
  flex-grow: 1;
  width: 100%;
  overflow-y: scroll;
  position: relative;
  z-index: 0;
}
.chat {
  height: 13%;
  width: 100%;
  border-bottom: solid 1px #e3e3e3;
}

.user {
  display: flex;
  align-items: center;
}
.user img {
  height: 33px;
  border-radius: 50%;
  margin: 4px;
}

/* RIGHT SIDE */
.rightSide {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.contactInfo {
  border-left: solid 1px #e3e3e3;
}

.chatArea {
  width: 100%;
  flex-grow: 1;
  background-image: url("../img/mine.jpg");
}

.keyboard {
  height: 8%;
  width: 100%;
  background-color: #f3efeb;
}
